{% extends 'kernel.html' %}{
{% block content %}
    <div class="container">
        <table class='striped card' border='2' id='tblTabla' width='100%'>
            <h6>PREGUNTAS REGISTRADAS</h6>
            <thead><th>PREGUNTA</th><th>ACCION</th></thead>
            <tbody>
            {% for pregunta in preguntas %}
                <tr style='display: table-row;'>
                <td><a href="{% url "pregunta_detalle" pregunta.id %}">{{ pregunta.asunto }} ?</a> <br></td>
                <td>
                    <a href="{% url "pregunta_detalle" pregunta.id  %}" class="btn waves-effect waves-lightgreen darken-2">Ver Detalles</a>
                    <a href="{% url "editar_pregunta" pregunta.id %} " class="btn waves-effect waves-light blue darken-4"> Modificar</a>
                </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="col ">
                <a href="{% url "crear_pregunta"%} " class="btn waves-effect waves-light  green darken-2"> Añadir Nueva</a>
            </div>
         </div>
    </div>
{% endblock %}
