
body{
     background-image: url('https://lh3.googleusercontent.com/Rv73OVbu5p-w72Ov7G51wcq0-Rvt-Z_SDiFnaU406cgFdceNIxgX0PrahLWVkPUq5_LTkwZWqlSeu8X_MvYh2Xteq2WHODxVTMOYr1EDvMOPpZwaExDzqLf9oDddm24cSwe8qXPQhJrIPkZjEP4PgpA3v54jUy_oqrSHdrNX0RuLYse_JA9bvkPghpLvSqq1TRhOscs4zrSSQ-vs7wkkJWMnsFfHxPggrrRLnZStyABGvAVLBSpLPi6rdjqrRG__Sktw21QIn854vK4hsJ0ACu64l9FuFPmjExnY0FwLv0v1ZaArIMd-9VUXi4XqbukceJNY_wFB0nUPAZCyRT1TCxEVUa7MiM9PKQhgwWPpy1UUU_j9BXWpP8k6DIeGm5W258LpMEmqrm5vd0ngMNh9voDrNKwISSFi8vnSTqErc9NOfHHJtIRcaNdaWV9TjzgjME8xjijeb3eEY5LJVYgWRgXfJaXjjMZkKndB24kdtujgpLjPnPwRknpbR1NLsbv5oViOLIpHVYnEBEJ834fE7PnYUkA9cZObckiaJABZG8TCm0CmmLV9co0INtD6iiVzi4w9w8g1ljfP0YhXXAplQhD6MqWsOqiRi4S5pWx77YCEabxe1SLu=w892-h662-no');
}
.formulario{
    padding-top: 50px;
}
.card .card-header {
    padding: 10px;
    background-color: #9C27B0;
    text-align: center;
}
