{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<script src="{% static 'js/jquery.js' %}"></script>
	 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	 <link rel="stylesheet" type="text/css" href="{%  static 'css/materialize.css' %}">
	 <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <link rel="shortcut icon" href="http://mispass.tk/panel.php/include/icon.png">
</head>
<body>
    <header>
   	    <nav>
              <a href="#" class="brand-logo center">Encuestas</a>
            <ul>
                  <li><li><a href="{% url 'home' %}"><i class="material-icons left">home</i></a> </li></li>
                  <li><a href="{% url 'preguntas' %}">Preguntas</a></li>
                  <li><a href="{% url 'crear_pregunta' %}">Agregar</a></li>
            </ul>
        </nav>
    </header>
     <div id="header" class="card">
        <div class="card purple  lighten-5">
             <span class="card-title" ><h2 class="center">Preguntas y respuestas</h2></span>
        </div>
        {% if user.is_authenticated %}
            <p>Bienvenido. Se ha iniciado sesion con el usuario <b>{{ user.username }} , <a href="{% url 'Logout' %}">cerrar session</a></b></p>
        {% else %}
            <p>Bienvenido. Si es adminitrador puede <a href="{% url 'Login' %}">Iniciar Sesion</a> y añadir nuevas preguntas!</p>
        {% endif %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>